<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.board.dao.BoardDAO">
	<select id="count" resultType="int">
		SELECT count(*) FROM board
	</select>

	<select id="list" parameterType="PageDTO"
		resultType="BoardDTO">
	<![CDATA[
		SELECT b.* FROM
		(SELECT a.*, rownum as rm FROM
		(SELECT * FROM board ORDER BY ref DESC, re_step ASC)a)b
		WHERE b.rm>=#{startRow} AND b.rm<= #{endRow}
		]]>
	</select>

	<insert id="save" parameterType="BoardDTO">
		INSERT INTO board(num,writer,email,subject,reg_date,
		readcount,ref,re_step,re_level,content,ip,upload)
		VALUES(board_num_seq.nextval,#{writer},#{email},#{subject},sysdate,0,		
		<choose>
		 <when test="ref==0">
		 board_num_seq.nextval
		 </when>
		 <otherwise>
		   #{ref}
		 </otherwise>
		</choose>		
		,#{re_step},#{re_level},#{content},#{ip},
		#{upload,jdbcType=VARCHAR})
	</insert>
	
	<update id="readCount" parameterType="int">
	   UPDATE board SET readcount = readcount + 1 
	   WHERE num=#{num}
	</update>
	
	
	<select id="content" parameterType="int" resultType="BoardDTO">
	    SELECT * FROM board WHERE num=#{num}
	</select>
	
	<update id="reStepCount" parameterType="BoardDTO">
	    UPDATE board SET re_step = re_step+1
	    WHERE ref=#{ref}  AND re_step>#{re_step}
	</update>
	
	<select id="getFile" parameterType="int" resultType="String">
	  SELECT upload FROM board WHERE num=#{num}
	</select>
	
	<update id="update" parameterType="BoardDTO">
	  UPDATE board 
	  SET subject=#{subject}, email=#{email}, content=#{content}
	  <if test="upload!=null">
	  , upload=#{upload}
	  </if>
	  WHERE num=#{num}
	</update>
	
	
	<delete id="delete" parameterType="int">
	  DELETE FROM board 
	  WHERE num=#{num}
	</delete>
</mapper>   













 
 
 
 
 
 
    